.h3{
    font-weight: bolder;   
    line-height:40px
}

.content{
    
    font-size: 20px;
    font-weight: bolder;
    line-height:35px
   
}

.input-text{
    padding:5px;
    border: 2px solid#dfdfdf;
    font-weight:500;

}
.input-submit{
    font-size: 15px;
    font-weight: bolder;
    color: rgb(92, 92, 92);
    border:2px solid#dfdfdf;
    margin-left: 10px;
    margin-right: 10px;
    width:100px;
}

.input-submit2{
    font-size: 16px;
    font-weight: bolder;
    color: rgb(92, 92, 92);
    border:2px solid#dfdfdf;
    width:200px;
    height:50px;
    
} 

.input-submit3{
    font-size: 16px;
    color: rgb(92, 92, 92);
    font-weight: bolder;
    border:2px solid#eeecec;
    background-color: #FBC500;
    width:200px;
    height:50px;
}

.contnetMain{
    background-color: #ffffff;
    width:900px;
    height:400px;
    border:2px solid #dfdfdf;
    padding:45PX;
    
}

.container{
    font-size: 18px;
    font-weight: bolder;
    line-height:60px
}

.a{
    text-decoration: none;  
    padding:0 0 6 0; 
    border-bottom-color:#acabab; 
    border-bottom-width:2px; 
    border-bottom-style:solid;
}

.texebox{
    background-color: #ffffff;
    font-size: 25px;
    font-weight: bolder;
    width:650px;
    height: 65px;
    border:2px solid #dfdfdf;
    margin-bottom:15px;
   
}

.texebox-2{
    background-color: #ffffff;
    font-size: 25px;
    font-weight:bolder;
    color:#1877F3;
    width:650px;
    height: 65px;
    border:2px solid #dfdfdf;
    margin-bottom:15px;
   
}

.texebox-3{
    background-color: #ffffff;
    font-size: 25px;
    font-weight: bolder;
    color:#E51F72;
    width:650px;
    height: 65px;
    border:2px solid #dfdfdf;
    margin-bottom:15px;
}
.texebox-4{
    background-color: #ffffff;
    font-size: 18px;
    font-weight: bolder;
    color:#9BC712;
    text-align:center;
}