body {
    min-height: 100vh;
}

.phone-list-icon {
    font-size: 30px;
    color: #3574aa;
    text-align: right;
}

.phone-list {
    text-align: right;
}

.phone-list-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-group input {
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    box-shadow: inset 0 -0.0625rem 0 #dddddd;
    font-size: 1rem;
    box-sizing: border-box;
}

.input-group input:focus {
    box-shadow: inset 0 -0.125rem 0 #337ab7;
}

.navbar-form {
    line-height: inherit;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    display: flex;
    align-items: center;
}

.navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

article {
    background-color: rgba(240, 246, 242, 1);
    font-family: 'Noto Sans TC', 'Roboto';
    padding-bottom: 5rem;
    min-height: 100vh;
}

article header {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
}

article section {
    margin-top: 30px;
    margin-bottom: 30px;
}

#footer {
    background-color: #3574aa;
}

.footer-text {
    color: white;
    font-size: 12px;
}

.footer-text .fas {
    color: white;
    font-size: 15px;
}

.footer-text .col {
    margin: auto 0;
}

@media (max-width: 1140px) {
    article {
        padding-top: 5rem;
    }
    .title-block {
        font-size: 30px;
        font-weight: bolder;
        color: #585657;
    }
}

@media (min-width: 1140px) {
    article {
        padding-top: 8rem;
    }
    .title-block {
        font-size: 30px;
        font-weight: bolder;
        color: #585657;
    }
}