.top-block {
    align-items: flex-end;
    padding-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    color: #585657;
}

.middle-block {
    margin-left: 0;
    margin-right: 0;
    color: #585657;
}

.top-lg-text {
    font-size: 30px;
    font-weight: bolder;
}

.top-sm-text {
    font-size: 16px;
    font-weight: bolder;
    text-align: right;
}

.left-menu-item {
    font-size: 22px;
    font-weight: 700;
    height: 70px;
    cursor: pointer;
}

.left-menu-item.left-menu-item-active {
    color: #3574aa;
}

.list-block .v-block img {
    margin-right: 30px;
}

@media (min-width: 1140px) {
    .input-btn-block .col-12.col-xl-4 {
        padding: 0px;
    }
    .left-menu-item .row .col-2 {
        padding: 0;
    }
    .left-menu-item .row .col-2 img {
        width: 100%;
        margin-top: -2px;
    }
}